* {
    font-family: 'MV Boli';
}

body {
    background-image: url("../../media/kpop/phone_wp.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.nav_list-container a {
    color: #ccc;
}

.main-container {
    padding: 5px 40px;
}

.main-container p {
    margin: 10px 0 20px 0;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.song-container {
    display: flex;
    border-radius: 10px;
    background-color: rgba(83, 4, 39, 0.171);
    text-align: center;
}

.song-container p {
    color: #ccccccc7;
}

img {
    width: 100%;
    border-radius: 10px;
}